MSSQL_PASSWORD=

DB_DATABASE=
DB_PASSWORD=
DB_USERNAME=

REDIS_PASSWORD=

ELASTICSEARCH_USER=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_KIBANA_TOKEN=

MONGO_ROOT_PASSWORD=
# Opcionales:
# MONGO_ROOT_USERNAME=
# MONGO_DATABASE=
